@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");
/* 공통영역 */
body {
  /* body안의 a태그엔 적용이 안됌 */
  font-family: "Nanum Gothic", sans-serif;
  font-size: 16px !important; /* important(중요함)는 body의 폰트크기는 무조건 16px로 고정 */
  letter-spacing: -1px !important; /* 글자 사이 간격 */
  color: #444 !important;
  word-wrap: break-word !important; /* 워드랩,줄바꿈할떄 책
    가방(x) 단어가 1개의 단위로 줄바꿈이 실행됌->단어가 분리가 안됌 */
  line-height: 1 !important; /* 문장간격 / 단위가 1이면 16px 이다 */
}
dl,
ol,
ul {
  margin-bottom: 0 !important;
}
#container a:hover {
  color: #000 !important;
}
/* : 가상선택자, :: 가상요소 */
a:link {
  color: #444;
}
a:hover {
  color: #fff !important;
}
a:visited {
  color: #444;
}
a {
  text-decoration: none;
} /* 링크의 밑줄이 사라짐 */

/* //공통영역 */

/* 부트스트랩 css 스타일 수정 */
/* 클래스 선택자 */
.clear::after {
  content: "";
  clear: both; /* 태그의 위치를 지정하는 float:left|right 속성을 초기화 시킴 */
  display: block; /* float는 블럭 속성이 없어진것을 clear 시키면, 다시 블럭속성을 부여*/
}
.txt_right {
  text-align: right !important;
}
.mt20 {
  /* mt 네이밍은 부트스트랩과 동일 */
  margin-top: 20px !important;
}
.w100p {
  /* 너비크기가 100% */
  width: 100% !important;
}
/* //부트스트랩 cdd 스타일 수정 */

/* 헤더영역 */
.on {
  /* .은 클래스 선택자 */
  background: #32353d;
}
header {
  /* 태그 선택자 */
  height: 90px;
  text-align: center;
  z-index: 200; /* z-index z순서: x(가로축),y(세로축),z(위쪽) */
  /* 빨간색 z-index:0은 제일 아래, 녹색 z-index:1, 값이 높을수록 상단으로 배치 */
  /* z-index를 200으로 주는 이유는 슬라이드 이미지와 겹칠때 메뉴는 항상 위에 있어야하기 때문에 메뉴가 다른 태그에 가려지는 것을 방지 */
  background: rgba(0, 0, 0, 0.5); /* alpha 약자: 투명도 크기  1:100% 0.5:50%*/
  position: absolute; /*relative 다른태그와 관계(기본값), 위치에서 다른태그에 영향을 받지않음*/
  left: 0;
  top: 0;
  width: 100%;
}
.boxinner {
  width: 100%;
  margin: 0 auto;
}
/* //헤더영역 */

/* 로고영역 */
.header_area h1 {
  float: none;
  width: 100%;
  height: 50px;
  text-align: center;
  padding: 3px 0 0; /* 3px 상하 0ox 좌 0px 우*/
}
.header_area h1 a {
  /* 로고는 이미지인데 글을 더한 이유는 웹 접근성 때문에 추가(스크린리더: 사각장애인용 유틸리티) */
  display: inline-block;
  width: 150px;
  height: 80px;
  background: url(../img/logo.jpg) no-repeat; /* css3는 함수를 지원함 / no-repeat 사진 반복 중단*/
  background-size: 50px 60px !important; /*백그라운드 이미지 사이즈 가로 50px, 세로 60px */
  background-position: center center !important; /* 이미지 위치가 가로 가운데, 세로 가운데 */
  text-indent: -9999px; /* 들여쓰기 이미지만 보이고, 글자는 숨기기 위해서*/
  overflow: hidden;
}
/* //로고영역 */

/* 상단메뉴영역 */
.openMOgnb {
  /* gnb: global navigation bar 약자 메뉴명칭으로 사용 */
  display: block;
  position: absolute;
  left: 15px;
  top: 35px;
  width: 25px;
  height: 16;
}
.hdd {
  text-indent: -9999px;
  position: absolute;
}
.openMOgnb span {
  box-sizing: border-box; /* box 크기를 테두리까지(border) 크기로 고정*/
  display: block;
  width: 25px;
  height: 3px;
  margin-bottom: 4px;
  border-radius: 10px;
  background: #fff;
}
.openMOgnb span + span {
  width: 17px;
}
.openMOgnb span:first-of-type + span {
  width: 17px;
} /* + 형제 인접연산자 */
.openMOgnb span:last-child {
  /* last child는 마지막 span을 가리킴*/
  width: 25px;
  margin-bottom: 0px;
}
.header_cont {
  float: none;
  width: 100%;
  background: #31343d;
  display: none;
  margin-top: 36px;
}
.closePop {
  display: block;
  position: absolute;
  right: 0px;
  top: 15px;
}
.closePop a {
  display: block;
  width: 60px;
  height: 60px;
  text-indent: -9999px;
  overflow: hidden;
  background: url(../img/btn_closeMenu.png) no-repeat;
  background-size: 60px;
}
.util {
  padding: 20px;
}
.header_cont a {
  color: #fff;
  font-size: 16px;
}
.util li {
  float: left;
}
.util li::after {
  /* 가상요소를 추가 */
  content: "|";
  display: inline-block;
  padding: 0 10px;
  color: #a2a2a3;
  font-size: 10px;
  position: relative;
  top: -2px;
}
.util li:last-child::after {
  /* 가상선택자 마지막 li 태그에서 가성요소 추가 */
  content: "";
  display: none;
}
.gnb {
  float: none;
  box-sizing: border-box;
  padding-top: 0px;
  height: auto;
  border-top: 1px solid #83868b;
}

.gnb li {
  float: left;
  width: 50%;
  text-align: left;
  box-sizing: border-box; /* width 50% 안쪽에 테두리까지 포함 */
  border-bottom: 1px solid #83868b;
}
.gnb li a {
  display: block;
  padding: 0px 0px 0px 65px;
  height: 60px;
  line-height: 60px;
  background: url(../img/ico_gnb01.png) no-repeat 10px center; /* 10px 가로위치, centet 세로 가운데 정렬 */
  background-size: 49px 56px;
}
.gnb_depth {
  /* 2차(서브)메뉴 */
  display: none;
}
.global li + li a {
  /* 1차(대메뉴)의 li 태그 중 두번째 영역 */
  background-image: url(../img/ico_gnb02.png);
}
.global li + li + li a {
  /* 1차(대메뉴)의 li 태그 중 세번째 영역 */
  background-image: url(../img/ico_gnb02.png);
}
.global li + li + li + li a {
  /*  1차(대메뉴)의 li 태그 중 네번째 영역 */
  background-image: url(../img/ico_gnb02.png);
}
/* ㄴ + 는 같은계층의 span을 가리킴 */
.gnb li:nth-child(2n + 1) {
  /* n번째 찰드 중에 홀수(2n+1) == 홀수번쨰의 li 태그를 말함 */
  border-right: 1px solid #83868b;
}
/* //상단메뉴영역 */
